html {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
}
body {
	background:#ffffff;
	font-family: 'Signika', sans-serif;
	padding:0;
	margin:0;
	overflow-x:hidden;
	position: relative;
	top: -5px;
}
@font-face {
    font-family: 'Signika';
    src: url('Signika-Regular.eot');
    src: url('Signika-Regular.eot?#iefix') format('embedded-opentype'),
        url('Signika-Regular.woff2') format('woff2'),
        url('Signika-Regular.woff') format('woff'),
        url('Signika-Regular.svg#Signika-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berkshire Swash';
    src: url('BerkshireSwash-Regular.eot');
    src: url('BerkshireSwash-Regular.eot?#iefix') format('embedded-opentype'),
        url('BerkshireSwash-Regular.woff2') format('woff2'),
        url('BerkshireSwash-Regular.woff') format('woff'),
        url('BerkshireSwash-Regular.ttf') format('truetype'),
        url('BerkshireSwash-Regular.svg#BerkshireSwash-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}
ul {
	padding:0;
	margin:0;
	list-style:none;
	color:#13519e;	
}
h1,h3,h4,h5,h6,label,p{
	margin:0;
}
header {
	width: 100%;
    height: 100%;
	position:relative;
	bottom: -5px;
	background-color: #2cceb9;
}
header img {
	width:100%
}
.header-container {
	position:absolute;
	left:15px;
	right:15px;
	bottom:10px;
}
.header-container h2 {
	font-size:60px;
	color: #fff;
	margin:0.2em 0 0em 0;
	border-bottom: 0px solid #dbdbdb;
	font-weight:600;
	font-family: 'Berkshire Swash', sans-serif;
}
.header-container h3{
	font-size:20px;
	color:#d6f3e9;
	margin-bottom:0.2em;
	font-family: 'Berkshire Swash', sans-serif;
}
.header-container p{
	font-size:15px;
	color:#6b716f;
	text-align:left;
}
.header-container span{
	font-size:10px;
	color:#cfece7;
	text-align:center;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	width:100%
}
.coverDiv {
	background-color: #edf9f5;
    border-radius: 10px;
    float: left;
    padding: 20px 15px 20px 20px;
    width: 97%;
	margin-top: 10px;
    margin-bottom: 10px;
}
.divCol12 {
	width:100%;
	position:relative;
	float: left;
}
.divCol10 {
	width:80%;
	position:relative;
	float: left;
}
.divCol7 {
	width:56%;
	position:relative;
	float: left;
}
.divCol6 {
	width:50%;
	position:relative;
	float: left;
}
.divCol4 {
	width:44%;
	position:relative;
	float: left;
}
.divCol3 {
	width:25%;
	position:relative;
	float: left;
}
.divCol2{
	width:20%;
	position:relative;
	float: left;
}
.wrapDiv {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
section.petMain {
	padding-top:55px;
	padding-bottom:50px;
	background-color:#edf9f5;
	width: 100%;
    float: left;
}
.petMain h2 {
	text-align:center;
	font-family: 'Berkshire Swash', sans-serif;
	font-size: 40px;
	color:#00435f;
}
.petMain p {
	text-align:left;
	padding: 20px 50px 0 31px;
	color: #458780;
    font-size: 18px;
}
.petMain span {
	text-align:center;
	padding: 20px 50px 0 31px;
	float:left;
	width:100%;
	color:#b1b1b1;
	font-size:10px;
}
.text-right {
	text-align:right;
}
section.feature {
	padding-top:45px;
	padding-bottom:50px;
	background-color:#d6f3e9;
	width: 100%;
    float: left;
}
.featureMain {
	
}
.feature h2 {
	text-align:center;
	font-family: 'Berkshire Swash', sans-serif;
	font-size: 40px;
    color: #00435f;
}
.feature p {
	text-align:left;
	padding: 20px 50px 0 31px;
}

.feature {
		background: #fff;
}

.feature .content{
		height:auto;
		min-height:250px;
		background:#008696;
		float:left;
		cursor:pointer;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 10px;
		margin:10px;
}
.feature .content:hover{
		height:auto;
		min-height:250px;
		background:#00b3c8;
		float:left;
		cursor:pointer;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 10px;
		margin:10px;
}
.feature  .content .icon{
		text-align:center;
		margin:32px auto 16px;
}
.feature  .content .top{
		width: 55px;
		height: 55px;
		background:transparent;
		border:3px solid #00dcc5;
		border-radius:100px;
		padding:0px 0;
		position:relative;
}

.feature .content .top:after{
		position:absolute;
		background:transparent;
		content:'';
		left:0;
		top:0;
		width:100%;
		height:100%;
		border-radius:500px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
}
.feature .content .top i{
		font-size: 25px;
		padding-top: 15px;
		color: #00dcc5;
}

.feature .content .bottom i{
		width:31px;
		height:31px;
		padding-top:6px;
		font-size:20px;
		color:#929292;
		background:transparent;
		border:1px solid #464646;
		border-radius:100px;
}
.feature  .content .text{
	width:95%;
	text-align:center;
	margin:auto;
}
.feature  .content .content-header{
		font-size:20px;
		color:#fff;
		font-weight: bold;
}

.feature  .content .content-desc{
		font-size:15px;
		color:#fff;
		margin-top:10px;
}
section.contact {
	padding-top:40px;
	padding-bottom:0px;
	background-color:#00dcc5;
	width: 100%;
    float: left;
}
.contact h2 {
	text-align:center;
	color:#fff;
	font-family: 'Berkshire Swash', sans-serif;
	font-size: 40px;
}
.contact h3 {
	text-align:center;
	color:#007377;
	font-size: 32px;
}
.contact p {
	color:#007377;
	margin-top:10px;
}
.text-center {
	text-align:center;
}
.shape {
	background: url('../images/shape.png') no-repeat center transparent;
	background-position:bottom;
	min-height: 220px;
}
.border {
	border-top:1px solid #008696;
}
ul.contact li {
	list-style: none;
	padding: 25px 10px 25px 10px;
	border-bottom: 0px dashed #cad4e0;
	font-size: 16px;
	display:inline-block;
	font-weight:600;
	color: #1d4ca1;
}
ul.contact li a{
	color: #007f80;
	text-decoration: none;
	line-height:1.5;
	display:inline-block;
}
ul.contact li:last-child:after {
	content: '';
    position: relative;
    left: -38px;
    top: 19px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #edf9f5;
}
ul.contact li i {
	background: #007f80;
    width: 3px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
   margin: 0 12px 0px -6px;
   border-radius: 50%;
}

ul.contact li a:hover{
	color: #00a9a4;
	padding: 0 0 0 0;
}
.wall {
	margin-top: 12px;
}
section.feedback {
	padding-top:70px;
	padding-bottom:70px;
	background-color:#edf9f5;
	width: 100%;
    float: left;
}
.feedback h2 {
	text-align:center;
	color:#007377;
	font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}
.feedback h3 {
	text-align: center;
    color: #979f9c;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 45px;
}
.feedback p {
	color:#007377;
}
.formInput {
	margin:0 auto;
	float:none;
}
.formInput input {
	display: block;
    width: 98%;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #d6f3e9;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    outline: none;
    padding-bottom: 15px;
    padding-left: 10px;
}
.button {
	width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #008696;
    color: #fff;
	font-family: 'Signika', sans-serif;
	font-size: 15px;
}
.button:hover {
	width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #00b4c9;
    color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.buttonNew {
	width: auto;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #ffcc00;
    color: #542400;
	font-family: 'Signika', sans-serif;
	font-size: 18px;
	font-weight:bold;
	position: relative;
    top: 6px;
	text-decoration:none;
}
.buttonNew:hover {
	width: auto;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #ffdb4b;
    color: #000;
	font-weight:bold;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration:none;
}
.icon {
	width:6%;
}	
@media (min-width: 769px) {
	.wrapDiv {
		width: 750px;
	}
}
@media (min-width: 1024px) {
	.wrapDiv {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.wrapDiv {
		width: 1024px;
	}
}
.box {
  width: 40%;
  /*margin: 0 auto;*/
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 15px auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 6px;
  right: 18px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .popup {
    width: 60%;
  }
}
@media screen\0 {
    .popup {
        margin: 15px auto;
		padding: 15px;
		background: #fff;
		border-radius: 5px;
		width: 25%;
		position: relative;
		transition: all 5s ease-in-out;
		float: none;
		top: 45%;
    }
}
_:-ms-lang(x), .popup { margin: 15px auto;
		padding: 15px;
		background: #fff;
		border-radius: 5px;
		width: 25%;
		position: relative;
		transition: all 5s ease-in-out;
		float: none;
		top: 45%; 
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
       .popup {
        margin: 15px auto;
		padding: 15px;
		background: #fff;
		border-radius: 5px;
		width: 25%;
		position: relative;
		transition: all 5s ease-in-out;
		float: none;
		top: 45%;
    } 
 }
@supports (-ms-ime-align:auto) {
.popup {
        margin: 15px auto;
		padding: 15px;
		background: #fff;
		border-radius: 5px;
		width: 25%;
		position: relative;
		transition: all 5s ease-in-out;
		float: none;
		top: 88%;
    }
}	
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .popup {
	  margin: 15px;
	  padding: 15px;
	  background: #fff;
	  border-radius: 5px;
	  width: 25%;
	  position: relative;
	  transition: all 5s ease-in-out;
	  float: right;
	}
}	
@-moz-document url-prefix() {
.popup {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition: all 5s ease-in-out;
  float: left;
}    
}	
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0)
{  
   .popup {(;
      margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition: all 5s ease-in-out;
  float: left;

    );}
}
@media only screen and (min-width:980px) and (max-width:1024px) {

.coverDiv {
    width: 96%;
}
.coverDiv {
    margin-top: 0px;
    margin-bottom: 0px;
}
}
@media only screen and (min-width:890px) and (max-width:980px) {
.header-container h2 {
    font-size: 45px;
}
.coverDiv {
    margin-top: 0px;
    margin-bottom: 0px;
	width: 95%;
}
}
@media only screen and (min-width:769px) and (max-width:890px) { 
.divCol10 {
    width: 75%;
}
.coverDiv {
    margin-top: 2px;
    margin-bottom:2px;
	width: 90%;
	padding: 10px 15px 10px 20px;
}
.text-right {
    text-align: right;
    float: right;
}
.header-container span {
    width: 95%;
	margin-top: 0px;
    margin-bottom: 0px;
}
.header-container h2 {
    font-size: 45px;
}
.divCol3 {
    width: 50%;
}
.feature .content {
    width: 93%;
}
}
@media(max-width:768px){
header {	
    bottom: 0px;
}
.header-container {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #2cceb9;
    width: 100%;
    float: left;
}
.header-container h2 {
	text-align:center;
}
.header-container h3 {
	text-align:center;
}
.header-container p {
	text-align:center;
	margin-bottom: 10px;
}
.coverDiv {
    width: 94%;
}
.divCol10 {
    width: 100%;
}	
.divCol2 {
    width: 100%;
}
.text-right {
    text-align: center;
}
.divCol7 {
    width: 100%;
}
.divCol4 {
    width: 100%;
}	
.divCol3 {
    width: 50%;
}
.feature .content {
    width: 97%;
}
.petMain p {
    padding: 20px 10px 0 20px;
}
.petMain span {
    padding: 15px 10px 0 10px;
}
}
@media(max-width:550px){
.coverDiv {
    width: auto;
}	
.header-container h2 {
    font-size: 40px;
	text-align:center;
}
.header-container p {
	text-align:left;
}
.icon {
    width: 10%;
}
.divCol3 {
    width: 100%;
}
ul.contact li {
    display: block;
}
ul.contact li i {
    display: none;
}
ul.contact li {
    list-style: none;
    padding: 15px 10px 15px 10px;
    border-bottom: 0px dashed #cad4e0;
    font-size: 16px;
    display:block;
    font-weight: 600;
    color: #1d4ca1;
}
ul.contact li:last-child:after {
    top: 9px;
}
}